<a href="https://colab.research.google.com/github/dong-young943/Bigdata-analysis/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EB%8C%80%EA%B5%AC%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%99%9C%EC%9A%A9%EC%84%BC%ED%84%B0_%EA%B8%B0%EC%B6%9C_%EC%9E%91%EC%97%85%ED%98%95_%EC%9C%A0%ED%98%95_1_%EB%AC%B8%EC%A0%9C(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 빅데이터분석기사 대구빅데이터활용센터 기출
## 작업형 유형 1 문제(2)
#### 특정 비율만큼 데이터와 결측치 대체, 전처리 전후 표준편차 비교
- 데이터 첫번째 행부터 70%까지의 데이터 추출한 후
- distance(거리)의 결측값을 distance(거리)의 중앙값으로 대체하고
- 결측값 전처리 전과 후의 표준편차를 비교
- 전/후 결과값 print 출력
###### seaborn, pandas, numpy 라이브러리 불러오기

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

###### seaborn 'planets' 데이터 불러오기

In [2]:
df=sns.load_dataset('planets')
df.head

<bound method NDFrame.head of                method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]>

###### len길이만큼 데이터를 잘라서 df 변수에 할당

In [3]:
len = int(len(df)*0.7)

###### len길이만큼 데이터를 잘라서 df에 할당

In [4]:
df=df[:len]
df.head

<bound method NDFrame.head of               method  number  orbital_period   mass  distance  year
0    Radial Velocity       1      269.300000   7.10     77.40  2006
1    Radial Velocity       1      874.774000   2.21     56.95  2008
2    Radial Velocity       1      763.000000   2.60     19.84  2011
3    Radial Velocity       1      326.030000  19.40    110.62  2007
4    Radial Velocity       1      516.220000  10.50    119.47  2009
..               ...     ...             ...    ...       ...   ...
719          Transit       1      131.458000    NaN   1645.00  2011
720          Transit       2       13.839890    NaN    470.00  2012
721          Transit       2       16.238550    NaN    470.00  2012
722          Transit       3       13.367308    NaN     66.00  2013
723          Transit       3       21.301886    NaN     66.00  2013

[724 rows x 6 columns]>

###### df2를 복사하여 생성

In [5]:
df2=df.copy()
df2.head

<bound method NDFrame.head of               method  number  orbital_period   mass  distance  year
0    Radial Velocity       1      269.300000   7.10     77.40  2006
1    Radial Velocity       1      874.774000   2.21     56.95  2008
2    Radial Velocity       1      763.000000   2.60     19.84  2011
3    Radial Velocity       1      326.030000  19.40    110.62  2007
4    Radial Velocity       1      516.220000  10.50    119.47  2009
..               ...     ...             ...    ...       ...   ...
719          Transit       1      131.458000    NaN   1645.00  2011
720          Transit       2       13.839890    NaN    470.00  2012
721          Transit       2       16.238550    NaN    470.00  2012
722          Transit       3       13.367308    NaN     66.00  2013
723          Transit       3       21.301886    NaN     66.00  2013

[724 rows x 6 columns]>

###### df2의 distance 열 결측치를 중앙값으로 대체

In [6]:
df2['distance']=df2['distance'].fillna(df2['distance'].median())
df2.head

<bound method NDFrame.head of               method  number  orbital_period   mass  distance  year
0    Radial Velocity       1      269.300000   7.10     77.40  2006
1    Radial Velocity       1      874.774000   2.21     56.95  2008
2    Radial Velocity       1      763.000000   2.60     19.84  2011
3    Radial Velocity       1      326.030000  19.40    110.62  2007
4    Radial Velocity       1      516.220000  10.50    119.47  2009
..               ...     ...             ...    ...       ...   ...
719          Transit       1      131.458000    NaN   1645.00  2011
720          Transit       2       13.839890    NaN    470.00  2012
721          Transit       2       16.238550    NaN    470.00  2012
722          Transit       3       13.367308    NaN     66.00  2013
723          Transit       3       21.301886    NaN     66.00  2013

[724 rows x 6 columns]>

###### 결측치 전의 distance열의 표준편차와 결측치 보정후 distance열의 표준편차를 print함수로 출력

In [7]:
print('전처리 전', np.std(df['distance']))
print('전처리 후', np.std(df2['distance']))

전처리 전 275.0161144074896
전처리 후 267.0513844259766